{{- $src := .Get "src" -}}
{{- $alt := .Get "alt" | default "" -}}
{{- $class := .Get "class" | default "" -}}
{{- $width := .Get "width" -}}
{{- $height := .Get "height" -}}

<figure{{ with $class }} class="{{ . }}"{{ end }}>
  <img src="{{ $src }}"
    {{- with $alt }} alt="{{ . }}"{{ end -}}
    {{- with $width }} width="{{ . }}"{{ end -}}
    {{- with $height }} height="{{ . }}"{{ end -}}
  >
  {{- with .Inner }}
  <figcaption>{{ . | safeHTML }}</figcaption>
  {{- else }}
  {{- with $.Get "caption" }}
  <figcaption>{{ . | markdownify }}</figcaption>
  {{- end }}
  {{- end }}
</figure>

